<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="header" class="container-fluid bg-dark text-white p-3">
		<div >
			<img alt="My image" style="width: 200px; height: 200px;"
				src="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-1/458086468_500220072629464_7931671728963076633_n.jpg?stp=dst-jpg_s160x160&_nc_cat=111&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeH3q0Th7-KSqQI1cHhGUsI2KWD6lWpMbn0pYPqVakxufVVRrKiuwu9sipFeDUMjYYHYDcEvWn7NRYAjKVbFOJHh&_nc_ohc=r3E5ffCzv2IQ7kNvgHhk0yI&_nc_zt=24&_nc_ht=scontent.fsgn8-3.fna&_nc_gid=AW9feai__drRfSdHJO3LJEK&oh=00_AYBAeGKDVWlMY7ejENoJhaEJ1yAdC-HCjjM6BOQMxj1veg&oe=672759B1">
		</div>
	</div>
</body>

</html>