<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/admin/layout-admin.html}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nhập Thông Tin Danh Mục</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
	<form action="/admin/category/searchpaginated" method="post">
		<div class="form-group">
			<label for="name">Nhập tên</label> <input type="text"
				class="form-control" id="name" name="name" required
				th:value="${name}">
		</div>
		<button type="submit" class="btn btn-primary">Tìm kiếm</button>
	</form>
</body>
</html>